:root {
  --background-color: #fcf8dd;
  --primary-color: #00809d;
  --secondary-color: #ffd700;
  --tertiary-color: #d3af37;
}

.app-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  background-color: var(--primary-color);
}

.left-column {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-column {
  flex: 1;
  min-width: 300px;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }
}

.left-column > * {
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 2rem;
}

input,
select,
button {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

button {
  background-color: var(--tertiary-color);
  color: white;
  border: none;
  cursor: pointer;
}

/* button:hover {
  background-color: #45a049;
} */
